<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bielsa">
      <ion-icon aria-hidden="true" name="train-outline"></ion-icon>
      <ion-label>Bielsa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="webcams">
      <ion-icon aria-hidden="true" name="videocam-outline"></ion-icon>
      <ion-label>Webcams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="slides">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="whetterzentrale">
      <ion-icon aria-hidden="true" name="snow-outline"></ion-icon>
      <ion-label>WZ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
